.item-info-body-div {
	/* height: 1000px; */
	background-color: lightblue;
}

.item-info {
	display: flex;
	background-color: lightcoral;
	border-bottom: 4px solid black;
}

.item-picture-div {
	background-color: lightgreen;
	padding: 10px;
	flex: 1;
	text-align: center;
}

.item-picture {
	border-radius: 2%;
	border: 10px solid white;
}

.item-name {
	background-color: lightpink;
	text-align: center;
	font-size: 48px;
	padding: 5px;
}

.item-bio-block {
	flex: 1;
	background-color: lightseagreen;
	margin: 0 auto;
}

.featured-work {
	background-color: lightyellow;
	text-align: center;
	height: 100%;
}

/* .featured-item {
    background-color: #00000038;
}

.featured-image {
    width: 250px;
    padding: 20px;
}

.image-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-auto-rows: minmax(250px, auto);
}

.item-image-div {
    text-align: center;
    margin: 20px;
}

.item-image {
    padding: 20px;
    width: 100%;
    height: 100%;
} */
