header {
    background-color: #ff880098;

}

.header-title {
    color: white;
    font-size: 62px;
}

div {
    flex: 1;
}
ul {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

li {
    display: inline;
    list-style-type: none;
}