header {
    background-color: #ff880098;
}

.header-title {
    color: white;
    font-size: 62px;
    display: inline-block;
    padding: 20px;
}

.header-title-p {
    font-style: italic;
    padding-left: 40px;
    font-size: 25px;
    display: inline-block;
    color: white;
}